<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Add a logger config to see logging messages -->
    <!-- Make sure to list this as the first bean so that it is initialized first -->
    <bean id="loggerConfig" class="com.polinayantsen.springdemo.LoggerConfig" init-method="initLogger">
        <property name="rootLoggerLevel" value="FINE" />
        <property name="printedLoggerLevel" value="FINE"/>
    </bean>

    <!-- Define your beans here -->
    <!-- Define the dependency -->
    <bean id="happyFortuneService"
          class="com.polinayantsen.springdemo.HappyFortuneService">
    </bean>

    <bean id="baseballCoach"
          class="com.polinayantsen.springdemo.BaseballCoach"
          scope="prototype">
        <!-- Set up constructor injection-->
        <constructor-arg ref="happyFortuneService"/>
    </bean>
</beans>
