<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Add a logger config to see logging messages -->
    <!-- Make sure to list this as the first bean so that it is initialized first -->
    <bean id="loggerConfig" class="com.polinayantsen.springdemo.LoggerConfig" init-method="initLogger">
        <property name="rootLoggerLevel" value="FINE" />
        <property name="printedLoggerLevel" value="FINE"/>
    </bean>

    <!-- Add entry to enable component scanning -->
    <context:component-scan base-package="com.polinayantsen.springdemo" />

    <context:property-placeholder location="classpath:sport.properties"/>
</beans>
